<app-product class="category-block col-md-6" [categoryView]="true" [category]="'Процессор'" ></app-product>
<app-product class="category-block col-md-6" [categoryView]="true" [category]="'Материнская плата'" ></app-product>
<app-product class="category-block col-md-6" [categoryView]="true" [category]="'Видеокарта'" ></app-product>
<app-product class="category-block col-md-6" [categoryView]="true" [category]="'Охлаждение'" ></app-product>
<app-product class="category-block col-md-6" [categoryView]="true" [category]="'Оперативная память'" ></app-product>
<app-product class="category-block col-md-6" [categoryView]="true" [category]="'Жесткий диск'" ></app-product>
<app-product class="category-block col-md-6" [categoryView]="true" [category]="'Блок питания'" ></app-product>
<app-product class="category-block col-md-6" [categoryView]="true" [category]="'Корпус'" ></app-product>
