<div class="container login">
  <div class="jumbotron">
    <h3>Здравствуйте, войдите на сайт</h3>
    <div class="input-group">
      <span class="field">Логин: </span><input [(ngModel)]="login" type="text" class="form-control">
    </div>
    <div class="input-group">
      <span class="field">Пароль: </span><input [(ngModel)]="pass" type="password" class="form-control">
    </div>
    <div class="alert alert-danger" *ngIf="authService.loginErrorMessage">{{ authService.loginErrorMessage }}</div>
    <p><button class="btn btn-primary btn-lg" role="button" type="submit" (click)="authService.login(login,pass)">Войти</button></p>
  </div>
</div>
