<div  class="col-md-10 jumbotron single-product" [class.mini]="mini" (click)="openProduct(item.id, $event)">
  <div class="form-group" [class.col-md-7]="mini">
    <div class="media-left">
      <a href="#">
        <img class="media-object" src="{{ item.imageUrl}}">
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading">{{ item.productName}}</h4>
      <div *ngIf="!mini">{{ item.description }}</div>
      <h3 class="media-heading price">{{ item.price }} руб.</h3>
    </div>
  </div>
  <div *ngIf="mini" class="add-to-cart col-md-5">
    <input type="text" placeholder="Количество" #count>
    <button class="btn btn-success" (click)="rest.addItemToCart(item, count)">Добавить в Корзину</button>
  </div>
    <button *ngIf="!mini" class="btn btn-success" (click)="rest.addItemToConfig(item)">Добавить в конфигурацию</button>
    <button *ngIf="!mini" class="btn btn-danger" >Удалить</button>
</div>
