@import "~bootstrap/less/bootstrap";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";


.mat-tab-label {
  min-width: 170px !important;
}

ul {

  li {
    list-style-type: none;
    border-bottom:1px solid black;
  }
}

.product {
  border: 2px solid red;
}

.single-product {
  margin: 20px;
  cursor: pointer;
  &:hover {
    box-shadow: 0 0 9px 2px fade(black,20%);
  }
  img {
    width: 200px;
  }
  .price  {
    margin: 20px 0;
  }

  .cat-tooltip {
    font-size: 1.4em;
  }
}


.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  .alert {
    margin-top: 10px;
  }
  p {
    button {
      margin-top: 10px;
    }
  }
}

.pagination {
  li {
    cursor: pointer;
  }
}
