@import "~bootstrap/less/bootstrap";

ul {

  li {
    list-style-type: none;
    border-bottom:1px solid black;
  }
}

.product {
  border: 2px solid red;
}

.single-product {
  margin: 20px;
  cursor: pointer;
  &:hover {
    box-shadow: 0 0 9px 2px fade(black,20%);
  }
}
